<section id="feature" class="feature-section">
  <div class="feature-header">
    <span class="sub-title">CORE FEATURE</span>
    <H2>Everything You Need To <span class="gradient-text">Scale Faster</span></H2>
    <p>Taskflow AI comes packed with powerful tools to automate your business operations whithout breaking a sweat </p>

  </div>

  <div class="feature-grid">
    <div class="feature-grid">
      <div class="feature-icon">🤖</div>
      <h3>Real-time analytics</h3>
      <p>Track your team's performance,revenue growth, and project bottlenecks whith beutiful interactive charts</p>

    </div>
    <div class="feature-card">
      <div class="feature-icon">🔒</div>
      <h3>Enterprise Security </h3>
      <p>Your data is protected by military grade AES-356 encryption and state-of-the-art postgreSQL security satndards.</p>

    </div>
  </div>
</section>
